{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Topic Alerter</title>
    <link rel="stylesheet" href="{% static 'lib/bootstrap/dist/css/bootstrap-theme.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/bootstrap/dist/css/bootstrap.css' %}" />
  <body>
    <div class="container">
      <h1>Topic Alerter</h1>
      <form method="post" action="/find-topics" class="form-horizontal">
        <div class="form-group">
          <label for="q" class="col-sm-4 control-label">
            Find a topic
          </label>
          <div class="col-sm-8">
            <input type="text" name="q" id="q" placeholder="e.g. dogs, equality" />
          </div>
        </div>
        <div class="form-group">
          <label for="q" class="col-sm-4 control-label">
            Enter your e-mail address
          </label>
          <div class="col-sm-8">
            <input type="text" name="email" id="email" placeholder="me@my.domain" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-8 col-sm-offset-4">
            <input type="submit" value="Subscribe to topic" class="btn btn-primary" />
          </div>
        </div>
      </form>
    </div>
  </body>
  <script
    src="{% static 'lib/requirejs/require.js' %}"
    data-main="{% static 'main/js/main.js' %}"></script>
</html>
